/* checking */
.Title {
  width: 100%;
  height: 160px;
  line-height: 1.3;
  font-weight: 600;
  font-size: 1.8rem;
  color: #fff;
  padding: 0 10vw;
  box-sizing: border-box;
  background: center 90% / cover no-repeat url(/bg_4.jpg);
}
.Title em {
  display: block;
  font-weight: 200;
  padding-top: calc(160px / 2 - 1.8rem * 1.3);
}

.table {
  width: 80%;
  height: calc(60vh - 100px);
  margin: 30px auto;
  border: 1px solid #444;
  border-collapse: collapse;
}
.table th {
  padding: 8px;
  color: #fff;
  background-color: #6481c0;
  border: 1px solid #444;
}
.table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #444;
}
